body{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    background-color: rgb(240, 160, 240);
}

.dialog{


    width: 500px;
    background-color: white;
    padding: 20px;
    
    border-radius: 10px;    
}

.dialogOfLogOut{


    display: flex;
    justify-content: center;
    align-items: center;

  position: fixed;
  margin: 200px;
  background-color: violet;


}




.yesNo{

    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
}
.yes{

padding-left: 7px;
cursor: pointer;

}

.NO{


cursor: pointer;

}